

body {
 font-family: -apple-system, BlinkMacSystemFont, sans-serif;
 background: #ededed;
 color: #4a4a4a;
 text-align: center;
}

.App {
}

.bars {margin-top:100px;}

.percentLabel {
  font-size: 18px;
  position: relative;
  left: 220px;
  top: -16px;
}

select,button {height:40px; border-radius: 6px;}
select {width: 328px;}
button {width: 100px;}

select:hover{border:2px solid;}
button:hover{border:2px solid;}


select:focus,button:focus {outline: none; background-color: #bde2fc;}
button:active {background-color: #b2d67c;}

select,button {

  margin-left: 15px;
  font-size: 18px;
  color: #4a4a4a;
  border: none;
  background-color: #fff;
}

progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 400px;
  height: 32px;
  margin-bottom:10px;
  border: 2px solid #ededed;
}

progress[value]::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 18px;
}

progress[value]::-webkit-progress-value {
    border-radius: 18px;
    background-color: #b2d67c;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

progress[value].overOneHundred::-webkit-progress-value{
    background-color: #e49a9b;
}

progress.selected {
  border: 2px solid #3a5714;
  border-radius: 18px;
}
